$dark-grey: #808080;
$light-grey: #f7f7f7;
$red: #fc0d1b;
$light-red: #f8d0d2;
$green: #53c579;
$blue: #0b24fb;
$mobile-width: 768px;

body {
  font-family: "Ludo", "Roboto", sans-serif;
}

div {
  background-image: url("./code.webp");
  background-repeat: no-repeat;
  background-size: 80px 80px;
  background-position: right center;
  width: 65%;

  @media (min-width: $mobile-width) {
    width: 40%;
  }
}

h1 {
  display: block;
  color: $dark-grey;
  background-image: url("./star-min.png");
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 3.5rem;
  text-transform: uppercase;

  &::first-letter {
    color: $blue;
  }

  @media (min-width: $mobile-width) {
    font-size: 2rem;
  }
}

ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-flow: column;
  position: relative;
  z-index: -10;

  background-color: #f7f7f7;
  list-style: none;
  padding: 0.5rem 1.5rem;
  margin: 0 2rem;
  // width: 65%;

  // @media (min-width: $mobile-width) {
  //   width: 40%;
  // }

  & :nth-child(4) {
    color: $green;
  }

  & li {
    &::before {
      content: "-";
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    &:nth-child(-n + 4)::before {
      content: "\2022";
      color: $red;
      display: inline-block;
      width: 1em;
      margin-left: -1em;
    }

    &:nth-child(2)::before {
      color: $light-red;
    }
  }
}
